<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {class: 'form-signin', method: :post }) do |f| %>

	<h2>Resend confirmation instructions</h2>

  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, :class => 'form-control', placeholder: 'Email', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
  
  <%= render "devise/shared/links" %>

<% end %>

