<div class="container">
	<%= render "tabs" %>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<% ["Cuenta", "Fecha última operación", "Saldo"].each do |column_header| %>
				<th><%= column_header %></th>
				<% end %>
			</thead>
			<tbody>
				<% @balances.each do |account| %>
				<tr>
					<td><%= account['account_name'] %></td>
					<td><%= account['max_operation_date'] %></td>
					<td><% if account['balance'] %><%= '%.2f€' % account['balance'] %><% end %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
