<div class="container-fluid">
	<div class="row">
  	<h1><%= t '.import_title' %></h1>	
  </div>
	<div class="row">
		<p><%= raw t '.import_paragraph' %><%= link_to(t('.template_link_title'), management_template_path) %>.</p>
		<%= form_tag management_import_path, multipart: true do %>
			<div class="form-group row">
				<div class="col-lg-3">
					<%= select_tag(:file_type, options_for_select([["Plantilla", 1], ["Santander", 2], ["Santander - Credit Card", 3], ["Bankinter", 4]]), :class => "form-control") %>
				</div>
		  </div>
			<div class="form-group row">
				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-btn">
							<label class="btn btn-primary" for="import-selector">
					     	<%= file_field_tag :file, :id => "import-selector", :style => "display:none;", :onchange => "$('#import-file-info').attr('placeholder', this.files[0].name);" %><%= t '.import_title_browse_button' %>
							</label>
						</span>
						<input type="text" class="form-control" id="import-file-info" placeholder=<%= t '.import_browse_placeholder' %> readonly disabled>
					</div>
				<small id="importHelp" class="form-text text-muted"><%= t '.import_small_paragraph' %></small>
				</div>
				<div class="col-lg-3">
					<%= submit_tag(t('.import_title_action_button'), class: "btn btn-primary btn-block") %>
				</div>
		  </div>
		<% end %>
  </div>
  <hr>
	<div class="row">
  	<h1><%= t '.backup_title' %></h1>	
  </div>
	<div class="row">
		<p><%= t '.backup_paragraph' %></p>
		<%= form_tag management_backup_path(format: 'xls'), multipart: true do %>
		<div class="form-group row">
			<div class="col-lg-3">
				<%= submit_tag(t('.backup_title_action_button'), class: "btn btn-primary btn-block") %>
			</div>
	  </div>
		<% end %>
  </div>
  <hr>
	<div class="row">
		<h1><%= t '.restore_title' %></h1>
  </div>
	<div class="row">
		<p><%= t '.restore_paragraph' %></p>
		<%= form_tag management_restore_path, multipart: true do %>
		<div class="form-group row">
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-btn">
						<label class="btn btn-primary" for="restore-selector">
				     	<%= file_field_tag :file, :id => "restore-selector", :style => "display:none;", :onchange => "$('#restore-file-info').attr('placeholder', this.files[0].name);" %><%= t '.restore_title_browse_button' %>
						</label>
					</span>
					<input type="text" class="form-control" id="restore-file-info" placeholder=<%= t '.restore_browse_placeholder' %> readonly disabled>
				</div>
			</div>
			<div class="col-lg-3">
				<%= submit_tag(t('.restore_title_action_button'), class: "btn btn-primary btn-block") %>
			</div>
		</div>
		<% end %>
  </div>
</div>