<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href=<%= root_path %>><%= fa_icon "money" %> <%= t 'brand' %></a>
	<button type="button" class="navbar-toggler hidden-lg-up float-xs-right" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-controls="navbarResponsive" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
  	<nav class="nav navbar-nav">
  	<% if user_signed_in? || ENV["DEMO"] == 'true' %>
  	<ul class="nav navbar-nav float-xs-left">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t '.reports' %></a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				  <h6 class="dropdown-header"><%= t '.categories' %></h6>
					<%= link_to(t('.categories_by_years'), reports_yearly_path, :class => "dropdown-item") %>			
					<%= link_to(t('.categories_by_months'), reports_monthly_path, :class => "dropdown-item") %>        
					<%= link_to(t('.origins_by_categories'), reports_originsByCategory_path, :class => "dropdown-item") %>        
				  <div class="dropdown-divider"></div>
				  <h6 class="dropdown-header"><%= t '.next_reports' %></h6>
					<%= link_to(t('.next_one'), reports_yearly_path, :class => "dropdown-item disabled") %>			
					<%= link_to(t('.next_two'), reports_monthly_path, :class => "dropdown-item disabled") %>        
			  </div>
			</li>
		  <% if current_user.admin? %>
		  <%= link_to t('.data_management'), management_index_path, :class => "nav-item nav-link" %>
		  <%= link_to t('.admin_panel'), rails_admin.dashboard_path, :class => "nav-item nav-link" %>
	  	<% end %>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        <%= t('.settings') %>
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<%= link_to(t('.edit_user'), edit_user_registration_path, :class => "dropdown-item") %>			
					<%= link_to(t('.logout'), destroy_user_session_path, :method => :delete, :class => "dropdown-item") %>        
			  </div>
			</li>
  	</ul>
	  <% end %>
	</div>	
</nav>