<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><%= fa_icon "money" %> Economía Familiar</a>
	<button type="button" class="navbar-toggler hidden-lg-up float-xs-right" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-controls="navbarResponsive" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
  	<nav class="nav navbar-nav">
  	<% if user_signed_in? %>
  	<ul class="nav navbar-nav float-xs-left">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Informes</a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				  <h6 class="dropdown-header">Categorías</h6>
					<%= link_to('Análisis por años', reports_yearly_path, :class => "dropdown-item") %>			
					<%= link_to('Análisis por meses', reports_monthly_path, :class => "dropdown-item") %>        
					<%= link_to('Ordenantes por categorias', reports_originsByCategory_path, :class => "dropdown-item") %>        
				  <div class="dropdown-divider"></div>
				  <h6 class="dropdown-header">Próximos informes</h6>
					<%= link_to('El de Ana', reports_yearly_path, :class => "dropdown-item disabled") %>			
					<%= link_to('El otro de Ana', reports_monthly_path, :class => "dropdown-item disabled") %>        
			  </div>
			</li>
		  <% if current_user.admin? %>
		  <%= link_to 'Gestión de archivos', management_index_path, :class => "nav-item nav-link" %>
		  <%= link_to 'Panel de administración', rails_admin.dashboard_path, :class => "nav-item nav-link" %>
	  	<% end %>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        Ajustes
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<%= link_to('Modificar usuario', edit_user_registration_path, :class => "dropdown-item") %>			
					<%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "dropdown-item") %>        
			  </div>
			</li>
  	</ul>
	  <% end %>
	</div>	
</nav>